<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="cnSSOMABD" connectionString="Data Source=192.1.1.14;Initial Catalog=DB_SSOMA_CRD;Persist Security Info=True;User ID=ssoma;Password=ssoma2017" providerName="System.Data.SqlClient" />
    <add name="cnPERSONABD" connectionString="Data Source=192.1.1.14;Initial Catalog=CROSLAND_SIC ;Persist Security Info=True;User ID=ssoma;Password=ssoma2017" providerName="System.Data.SqlClient" />-->
    <add name="cnSSOMABD" connectionString="Data Source=DESKTOP-NN8LA4B\SQLEXPRESS;Initial Catalog=DB_SSOMA_CRD;Persist Security Info=True;User ID=ssoma;Password=ssoma2017" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
      <add key="Usuario" value=""/>
      <add key="Clave" value=""/>
   </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
